.form .Btn2{
    position: relative;
    bottom: 0.5em;
}

#popup {
    position:fixed;
    bottom: 12.5em;
    left: 35%;
    right: 35%;
    min-width: 18.75em;
    max-width: 31.25em;
    display: none;
    border: 0.2em solid lightgrey;
    background-color:white;
}

#popup .row1 h1{
    position: relative;
    left: -1.5em;
}

#popup .row1 label{
    position: relative;
    left: -4.5em;
}

#popup .row1 input{
    border: 0.1em solid lightgrey;
    position: relative;
    right: 4.625em;
    width: 100%;
    border-radius: 0.5em;
}

#popup .row1 input:focus {
    border: 0.2em solid darkblue;
  }

#popup .row2 {
    height: 8.125em;
}
  
 #popup .row2 .btn, .closeBtn {
    position: relative;
    padding: 1em;
    right: 4.25em;
    border: none;
    margin-top: 0.3125em;
    border-radius: 0.625em;
}
  
#popup .row2 .closeBtn {
    background-color:rgb(192, 46, 46);
} 
  
#popup .row2 .btn:hover, .Btn2:hover, .closeBtn:hover {
    background-color: #001e3c;
    border: 0.1em solid #23a6d5;
}

@media only screen and (max-width: 1675px){
    #popup{
        position: fixed;
        bottom: 4em;
        right: 6em;
    }
}

@media only screen and (max-width: 768px){
    #popup{
        position: fixed;
        bottom: 7em;
        right: 6em;
        left: 12em;
    }

    #popup .row1 label{
        position: relative;
        left: -5.5em;
    }
}