@import "SideBar.css";
html,body{
  overflow-x: hidden; 
  background-color: rgb(235, 235, 238);
}

.row{
  position: relative;
  width: 100%;
  right: -1em;
  padding-bottom: 2.4em;
  height: 100%;
  width: 100%;
} 

.file{
  background-color: rgb(235, 235, 238);
  position: relative;
  padding-top: 2%;
  padding-bottom: 10%;
  justify-content: center;
  height: 100%;
}

.file input{
  outline: none;
  border-style:solid;
  width: 60%;
  min-width: 60%;
  max-height: 2em;
  text-align: center;
  border-color: gray;
}

.file input:hover{
  border-color: black;
}

.file input:focus{
  border-color: black;
  box-shadow: 0 0.062em 0.18em darkblue;
}

.file .bx-search{
  color:black;
  position:relative;
  top: 0.15em;
  right: 60%;
  height: 10px;
  max-width: 10px;
}

.form{
  display: inline-block;
  justify-content: center;
}

.form input{
  text-align: center;
  outline: none;
  border:none;
}

.FooterDiv{
  position: fixed;
  bottom: 8em;
}

.file .uploadBtn{
  height: 80%;
  position: relative;
  bottom: 0.07em;
  left: 1.5em;
  padding-top: 0;
  padding-bottom: 0.5em;
}

.file .ChooseFile{
  border-style: none;
  background-color: white;
  max-width: 80%;
}

.file #col1{
  transform: translate(-3em, 2em);
}

.file .cardDisplayDiv{
  width: 100%;
}

.file .m-2{
  position: relative;
  left: 2.2em;
  width: 90%;
  height: 5em;
}

.file .download{
  position: relative;
  top: 0.3em;
  left: 5em;
}

.file .deleteBtn{
  background-color: rgb(192, 46, 46);
  border-color: rgb(192, 46, 46);
  position: relative;
  left: 0em;
}

.file .downloadBtn{
  position: relative;
}

.file .delete{
  position: relative;
  top: 0.3em;
}

.file Button:hover{
    background-color: #001e3c;
    border: 0.1em solid #23a6d5;
}

@media only screen and (min-width: 768px){
  .file .download{
    left: -3.5em;
  }

  .file .delete{
    right: 3em;
  }
}

@media only screen and (min-width: 1100px){
  .file .download{
    left: -1em;
  }

  .file .delete{
    right: 4em;
  }
}

@media only screen and (min-width: 1300px){
  .file .download{
    left: 0em;
  }

  .file .delete{
    right: 5em;
  }
}

@media only screen and (min-width: 1440px){
  .file .download{
    left: 2.5em;
  }

  .file .delete{
    right: 4em;
  }
}

@media only screen and (min-width: 1600px){
  .file .download{
    left: 3.5em;
  }

  .file .delete{
    right: 5em;
  }
}

@media only screen and (max-width: 768px){
  .file .download{
    top: 1.7em;
    left: 0em;
  }

  .file .delete{
    top: 1.7em;
    right: 2.5em;
  }

  .file .m-2{
    height: 8em;
  }
}

