@import "SideBar.css";
html,body{
  overflow-x: hidden; 
  background-color: rgb(235, 235, 238);
}

.row{
  position: relative;
  width: 100%;
  right: -1em;
  padding-bottom: 2.4em;
  height: 100%;
  width: 100%;
} 

.file{
  background-color: rgb(235, 235, 238);
  position: relative;
  padding-top: 2%;
  padding-bottom: 10%;
  justify-content: center;
  height: 100%;
}

.file input{
  outline: none;
  border-style:solid;
  width: 60%;
  min-width: 60%;
  max-height: 2em;
  text-align: center;
  border-color: gray;
}

.file input:hover{
  border-color: black;
}

.file input:focus{
  border-color: black;
  box-shadow: 0 0.062em 0.18em darkblue;
}

.file .bx-search{
  color:black;
  position:relative;
  top: 0.15em;
  right: 60%;
  height: 10px;
  max-width: 10px;
}

.form{
  display: inline-block;
  justify-content: center;
}

.form input{
  text-align: center;
  outline: none;
  border:none;
}

.FooterDiv{
  position: fixed;
  bottom: 8em;
}

.file .uploadBtn{
  height: 80%;
  position: relative;
  bottom: 0.07em;
  left: 1.5em;
  padding-top: 0;
  padding-bottom: 0.5em;
}

.file .ChooseFile{
  border-style: none;
  background-color: white;
  max-width: 80%;
}

.file #col1{
  transform: translate(-3em, 2em);
}

.cardDisplayDiv{
  margin: auto;
  width: 50%;
  padding: 10px;
}