@import "SideBar.css";

.HomePage{
  text-align: center; 
  background-color: white;
  height: 100px;
  width: 100%;
  color: black;
}

h6{
  text-align: center;
}

#deleteBtn{
  position: relative;
  left: 47%;
}

.border-dark.mb-2{
  text-align: start;
  width: 98%;
}

.file{
  background-color: rgb(247, 248, 251);
  position: absolute;
  top:100px;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 100px; 
}

.file input{
  border-radius: 14px;
  outline: none;
  border-style:solid;
  width: 500px;
  text-align: center;
}

.file input:hover{
  padding:10px;
}

/*.file .bx-search{
  position: relative;
  top:0.5%;
  right:58%; 
  padding:15px;
  font-size: 22px;
  color: black;
}*/

h1{
  color: white;
}

.form{
  display: inline-block;
  justify-content: center;
}

.form input{
  text-align: center;
  border-radius: 6px;
  outline: none;
  border:none;
  width: 250px;
  margin: 10px;
}

button.my-2{
  position: relative;
  top: -2px;
  height: 30%;
  text-align: center;
  padding:2px;
}

.LoginLogo{
  position: absolute;
  right: 0%;
  top:35px;
  padding-left:50px;
  padding-right:50px;
} 

.LoginLogo i{
  display: inline;
  color:black;
}

