#SidebarComponent{
    position: fixed;
    height:100%;
    top:0;
    left:0;
    background-color: #001e3c;
    width: 80px;
    transition: all 0.5s ease;
}

#SidebarComponent h1{
    color:white;
}
    

#SidebarComponent.active{
    width: 240px;
}

#btn{
    position: relative;
    line-height: 50px;
    font-size:40px;
}

#SidebarComponent.active #btn{
    left: 38.5%;
}

.logo, .logoImg{
    display:flex;
    margin-top:10px;
    position: relative;
    right: 0.3em;
    width: 4.3em;
    border-top-right-radius: 1em;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 0.3em;
    transition: all 0.5s ease;
}

#SidebarComponent.active .logoImg{
    position: relative;
    left: 1.3em;
    width: 10em;
    border-top-right-radius: 3em;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 0.3em;
    transition: all 0.5s ease;
}

.logoName, .logo{
    position: relative;
    margin-top:10px;
    padding-left: 15px;
    line-height: 50px;
    opacity:0;
    transition: all 0.5s ease;
}

#SidebarComponent.active .logoName, .logo{
    opacity:1;
}

.navList{
    position: relative;
    top: 50px;
}

#SidebarComponent.active #search_li:hover{
    background-color: #001e3c;
}

.bx-search-alt{
    position: absolute;
    top:0%;
    left:0%;
    padding:15px;
    font-size: 22px;
    color: white;
}

#SidebarComponent.active .bx-search-alt{
    color: black;
}

#search{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    outline: none;
    border:none;
    text-align: center;
    opacity: 0;
}

#search:focus{
    position: relative;
    margin-left: -15px;
    width: 220px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#SidebarComponent.active #search{
    opacity: 1;
}

::placeholder{
    color:black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

span{
    pointer-events: none;
    position: relative;
    bottom: 54px;
    padding: 5px;
    font-size:18px;
    font-weight:bold;
    color: white;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    transition: all 0.5s ease;
}

#SidebarComponent.active span{
    opacity: 1;
    left: 20px;
    bottom: 0px;
    transition: all 0.5s ease;
}

i{
    color:white;
    padding:1px;
    font-size: 20px;
}   

#SidebarComponent.active a:link{
    position: relative;
    text-decoration: none;
    display:flex;
    transform: translate(-0.85em, -0.85em);
    width: 12.9em;
    height: 3em;
    padding: 0.8em
}

a:link{
    display: flex;
    padding: 0.9em;
    width: 3em;
    height: 3em;
    transform: translate(-0.9em, -0.8em);
    text-decoration: none;
}

span{
    transform: translateY(-0.45em); 
}

li{
    position: relative;
    height: 50px; 
    margin:10px -40%;
    padding: 14px;
    width: 100%;
    text-align: justify;
    list-style: none;
}

#SidebarComponent.active li{
    margin:20px -10%;
}   

#SidebarComponent li:hover {
    background-color: #23a6d5;
    border-radius: 10px;
}

#tooltip{
    pointer-events: none;
    position: absolute;
    bottom: 5px;
    width: 80px;
    left: 40px;
    border-radius: 14px;
    background:white;
    color: black;
    box-shadow: 0 2px 4px;
    text-align: center;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

li:hover #tooltip {
    opacity: 1;
}

#SidebarComponent.active #tooltip{
    display: none;
}
