.rightTopbar, .leftTopbar{
    height: 3em;
}

.rightTopbar{
    position: relative;
    left: 0%;
}

.TopBar p{
    color: black;
    position: relative;
    bottom: 8.5em;
    left: 75%;
}

#circularUser{
    position: relative;
    bottom: 5.5em;
    left: 89%;
    height: 5em;
    border-radius: 50%;
}

.vl{
    position: relative;
    bottom: 1.5em;
    left: 70%;
    border-left: 0.09em solid #001e3c;
    height: 3em;
}

@media only screen and (max-width: 768px){
    #circularUser{
        left: 85%;
    }
    .TopBar p{
        left: 70%;
    }

    .vl{
        left: 65%;
    }
}