.rightTopbar, .leftTopbar{
    height: 2em;
}

.rightTopbar{
    position: relative;
    left: 0%;
}

.TopBar p{
    color: black;
    position: relative;
    bottom: 7.8em;
    left: 75%;
}

#userLink{
    position: relative;
    left: 89%;
}

#userLink2{
    position: relative;
    left: 75%;
    top: 55%;
}

#circularUser{
    position: relative;
    bottom: 4.8em;
    left: 50%;
    height: 3.5em;
    border-radius: 50%;
}

.vl{
    position: relative;
    bottom: 1.5em;
    left: 70%;
    border-left: 0.09em solid #001e3c;
    height: 3em;
}

@media only screen and (max-width: 768px){
    #userLink{
        left: 85%;
    }
    .TopBar #userLink2{
        left: 65%;
    }

    .vl{
        left: 65%;
    }
}