#backgroundPopup{
    position: fixed;
    top: 0;
    left: 0;
    background:black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    display: none;
}

.row{
    position: relative;
    width: 100%;
    left: 5em;
}

.body .row h1{
    position: relative;
    left: 0.75em;
}

.bodyColour{
    background-color: rgb(235, 235, 238);
}
.body h3, h6{
    font-weight: bold;
}

.body h6, .col-md-9{
    position: relative;
    right: 2.75em;
}

#SidebarComponent{
    text-align: center; 
}

.ImageDiv{
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    height: 18.75em;
    min-width: 70%;
    max-width: 100%;
    background-color: #001e3c;
    text-align: center; 
    margin-bottom: 5%;
    border-top-right-radius: 6em;
    border-bottom-left-radius: 6em;
}

.ImageDiv img{
    position: relative;
    top: 2.55em;
    height: 70%;
    border-radius: 15%;
}

.Titles{
    background-color: rgb(30, 94, 190);
    border-top-right-radius: 10em;
    padding-top: 0.625em;
    padding-left: 0.625em;
    color: white;
}

.UserDetailsDiv{
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58,59,69,.15);
    background-color: white;
    width: 60%;
    text-align: center; 
    border-top-right-radius: 3em;
    border-bottom-left-radius: 3em;
}

.FormBtn{
    position: relative;
    left: .9em;
}

.body .deleteUser{
    position: relative;
    top: 3em;
    left: 0.2em;
    width: 8.5em;
    z-index: 1;
    background-color:rgb(192, 46, 46);
    border-color: rgb(192, 46, 46);
}

.body Button:hover {
    background-color: #001e3c;
    border: 0.1em solid #23a6d5;
}

@media only screen and (max-width: 768px){
    .body h6, .col-md-9{
        right:4em;
    }
}
